:root {
	font-size : 16px;
}

body {
	margin : 0;
}

.container {
	display : flex;
	flex-direction : row;
	background-color : #9e9e9e26;
	height : 7vh;
	align-items : center;
}

#menu {
	display : flex;
	flex-direction : row;
	align-items : center;
	margin : 0.5vw;
}

.brand-name {
	font-weight : 500;
	padding : 0.7vmax;
	font-size : 1.25rem;
}

#toggle-option {
	display : flex;
	justify-content : flex-end;
	margin : 0.5vw;
}

#item-container {
	display : flex;
	order : 3;
	flex-direction : row;
	margin : 0.5vw;
}

.menuBar-items {
	margin : 0 0.7vmax;
	padding : 0 0.7vmax;
	color : #a7d1fd;
}

#image-size {
	width : 100%;
}

#menu-image {
	justify-self : flex-end;	
	align-self : center;
	width : 3.5vw;
	padding : 3px;
	height : 50%
}

.highlight-text {
	color : #057ffd;
}

.active {
	color : #057ffd;
}

.disable {
	pointer-events : none;
	color : #bdbdbd;
}

@media screen and (max-width : 780px)
{
	
	#menu {
		align-items : flex-start;
		flex-direction : column;
		justify-self: flex-start;
		width : 20vw;
	}
	
	#item-container {
		flex-direction : column;
		justify-self: flex-start;
		width : 80vw;
	}
	
	#toggle-option {
		display : flex;	
		align-self: flex-start;
		width : 50vw;
	}
	
	.container {
		height : 50%;
		justify-content : space-between;
		flex-wrap : wrap;
	}
	
	.brand-name {
		font-size : 1rem;
	}
	
	.menuBar-items {
		margin : 0.7vmax 0;
		font-size : 0.85rem;
	}
}

@media screen and (min-width : 781px)
{
	#toggle-option {
		display : none;	
	}
	
	#item-container {
		display : flex !important;
		flex-direction : row;
	}
}

@media screen and (max-width : 475px) {
	#menu-image {
		width : 5vw;
	}
}

@media screen and (max-width : 280px) {
	#menu-image {
		width : 8vw;
	}
}